header {
    background-color: $purple;
    h4 {
      font-size: 18px;
      font-weight: $open-sans-bold;
      padding: 20px 10px;
    }
    ul {
      list-style: none;
      padding-left: 0px;
      li {
        padding: 20px 40px;
        display: inline-block;
        a {
          color: $black;
          font-weight: $open-sans-semi-bold;
          &:hover {
            text-decoration: none;
            color: $white;
          }
          &.active {
            color: $white;
          }
        }
        &:hover {
          background-color: $light-purple;
        }
      }
      li.add-product {
        float: right;
      }
    }
  }
