.modal {
  .modal-content {
    .modal-body {
      form {
        input[type=text] {
          width: 400px;
          border: 1px solid $dark-gray;
          border-radius: 4px;
          height: 40px;
          background-color: $light-gray2;
          outline: none;
          padding-left: 5px;
        }
        input[type=submit] {
          padding: 7px;
          background-color: $light-gray2;
          border: 1px solid $dark-gray;
          border-radius: 4px;
          outline: none;
          display: block;
          margin-top: 10px;
        }
      }
    }
  }
}