// BARVY //

$black : #000;
$purple : #873775;
$light-purple : #a57a9c;
$blue : #8eafe2;
$gray : #f6f6f6;
$light-gray2 : #f6f8f9;
$white : #fff;
$dark-gray : #6a6a6a;
$light-gray : #cfcfcf;
$white-gray : #ededed;
$red : #FF0000;
$green : #00a752;
$white-gray2 : #eceff1;




// FONTS //

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
$open-sans : 'Open Sans';
$open-sans-light : 300;
$open-sans-regular : 400;
$open-sans-semi-bold : 600;
$open-sans-bold : 700;
$open-sans-extra-bold : 800;




// IMPORTY //

@import 'header';
@import 'modals';




// KOD //

body {
  font-family: $open-sans;
}

section.login {
  form {
    h3 {
      text-align: center;
      font-weight: $open-sans-bold;
      color: $black;
      margin-top: 30px;
    }
    p {
      margin-bottom: 5px;
      font-weight: $open-sans-semi-bold;
      font-size: 13px;
      text-align: center;
    }
    input[type=text] {
      display: block;
      margin: auto;
      height: 20px;
      width: 300px;
      border: 1px solid $black;
      border-radius: 5px;
      padding-left: 5px;
    }
    input[type=password] {
      display: block;
      margin: auto;
      height: 20px;
      width: 300px;
      border: 1px solid $black;
      border-radius: 5px;
      padding-left: 5px;
    }
    input[type=submit] {
      color: $white;
      padding: 5px 30px;
      margin: auto;
      display: block;
      background-color: $black;
      border: 1px solid $black;
      border-radius: 5px;
      margin-top: 10px;
    }
  }
}

body.bg-blue {
  background-color: $blue;
  h3 {
    font-weight: $open-sans-bold;
    color: $black;
    margin-top: 20px;
  }

  .oddelovac {
    margin-top: 100px;
  }

  .menu {
    height: 300px;
    width: 200px;
    border: 3px solid $purple;
    border-radius: 5px;
    background-color: $light-purple;
    position: relative;
    margin-bottom: 30px;
    .fa-list-alt {
      display: block;
      margin: auto;
      font-size: 50px;
      margin-top: 30px;
    }
    .fa-bars {
      display: block;
      margin: auto;
      font-size: 50px;
      margin-top: 30px;
    }
    .fa-newspaper {
      display: block;
      margin: auto;
      font-size: 50px;
      margin-top: 30px;
    }
    .fa-users {
      display: block;
      margin: auto;
      font-size: 50px;
      margin-top: 30px;
    }
    .fa-external-link-alt {
      display: block;
      margin: auto;
      font-size: 50px;
      margin-top: 30px;
    }
    a {
      display: block;
      text-align: center;
      color: $black;
      vertical-align: bottom;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      margin-bottom: 100px;
      font-size: 18px;
      font-weight: $open-sans-bold;
      &:hover {
        text-decoration: none;
        font-weight: $open-sans-extra-bold;
      }
    }
  }

  section {
    h3 {
      text-align: center;
      padding-bottom: 30px;
    }
    a.products {
      color: $black;
      font-size: 20px;
      text-align: center;
      display: inline-block;
      padding-bottom: 15px;
      &:hover {
        text-decoration: none;
        color: $white;
      }
    }
    .category {
      border-top: 1px solid $black;
      p {
        a.main-category {
          display: inline-block;
          float: left;
          a.delete {
            display: inline-block;
            float: right;
          }
        }
      }
    }
  }
  section.category {
    h3 {
      text-align: center;
      padding-bottom: 30px;
    }
    a.products {
      color: $black;
      font-size: 20px;
      text-align: center;
      display: block;
      padding-top: 20px;
      padding-bottom: 15px;
      &:hover {
        text-decoration: none;
        color: $white;
      }
    }
    .category-list {
      border-top: 1px solid $black;
        a.main-category {
          display: inline-block;
          float: left;
          color: $black;
          font-size: 25px;
          padding-top: 10px;
          &:hover {
            text-decoration: none;
            color: $white;
          }
        }
          a.delete {
            display: inline-block;
            float: right;
            color: $red;
            font-size: 25px;
            padding-top: 10px;
            &:hover {
              text-decoration: none;
              color: $white;
            }
          }
      }
    }
  }

section.editor {
  p {
    text-align: center;
  }
  img.main-img {
    margin: auto;
    width: 250px;
  }
  .minor-photos {
    margin: 40px 0px;
    img.minor-img {
      display: inline-block;
      width: 180px;
      padding: 12px;
    }
  }
  form {
    input[type=text],select {
      margin: auto;
      display: block;
      margin-bottom: 20px;
      width: 500px;
      height: 40px;
      padding-left: 5px;
      border: 1px solid $gray;
      border-radius: 5px;
    }
    textarea {
      display: block;
      margin: auto;
      margin-bottom: 20px;
      width: 500px;
      height: 200px;
      border: 1px solid $gray;
      padding-left: 5px;
      border-radius: 5px;
    }
    input[type=checkbox] {
      margin: auto;
      display: block;
      text-align: center;
    }
    span {
      display: block;
      text-align: center;
    }
    input[type=submit] {
      margin: auto;
      display: block;
      padding: 10px 30px;
      background-color: $dark-gray;
      border: 1px solid $dark-gray;
      border-radius: 5px;
      margin-top: 20px;
      color: $white;
      &:hover {
        border: 1px solid $white-gray;
      }
    }
    p {
      text-align: center;
      text-decoration: underline;
      margin-bottom: 10px;
    }
    input[type=file] {
      display: block;
      margin: auto;
      margin-bottom: 20px;
    }
  }
}

section.show-product {
  h3 {
    padding-bottom: 30px;
  }
  p.id {
    color: $dark-gray;
    margin-bottom: 50px;
  }
  img.main-img {
    margin: auto;
    width: 250px;
  }
  .minor-photos {
    margin: 40px 0px;
    img.minor-img {
      display: inline-block;
      width: 180px;
      padding: 12px;
    }
  }
  p {
    margin: 30px 0px;
  }
  a.button {
    padding: 15px 30px;
    color: $white;
    background-color: $blue;
    border: 1px solid $dark-gray;
    border-radius: 5px;
    margin-right: 20px;
    &:hover {
      background-color: $dark-gray;
      text-decoration: none;
    }
  }
  a.button-red {
    display: inline-block;
    padding: 15px 30px;
    color: $red;
    background-color: $blue;
    border: 1px solid $dark-gray;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 40px;
    &:hover {
      background-color: $red;
      color: $white;
      border: 1px solid $red;
      text-decoration: none;
    }
  }
}


