@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
header {
  background-color: #873775; }
  header h4 {
    font-size: 18px;
    font-weight: 700;
    padding: 20px 10px; }
  header ul {
    list-style: none;
    padding-left: 0px; }
    header ul li {
      padding: 20px 40px;
      display: inline-block; }
      header ul li a {
        color: #000;
        font-weight: 600; }
        header ul li a:hover {
          text-decoration: none;
          color: #fff; }
        header ul li a.active {
          color: #fff; }
      header ul li:hover {
        background-color: #a57a9c; }
    header ul li.add-product {
      float: right; }

.modal .modal-content .modal-body form input[type=text] {
  width: 400px;
  border: 1px solid #6a6a6a;
  border-radius: 4px;
  height: 40px;
  background-color: #f6f8f9;
  outline: none;
  padding-left: 5px; }
.modal .modal-content .modal-body form input[type=submit] {
  padding: 7px;
  background-color: #f6f8f9;
  border: 1px solid #6a6a6a;
  border-radius: 4px;
  outline: none;
  display: block;
  margin-top: 10px; }

body {
  font-family: "Open Sans"; }

section.login form h3 {
  text-align: center;
  font-weight: 700;
  color: #000;
  margin-top: 30px; }
section.login form p {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 13px;
  text-align: center; }
section.login form input[type=text] {
  display: block;
  margin: auto;
  height: 20px;
  width: 300px;
  border: 1px solid #000;
  border-radius: 5px;
  padding-left: 5px; }
section.login form input[type=password] {
  display: block;
  margin: auto;
  height: 20px;
  width: 300px;
  border: 1px solid #000;
  border-radius: 5px;
  padding-left: 5px; }
section.login form input[type=submit] {
  color: #fff;
  padding: 5px 30px;
  margin: auto;
  display: block;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  margin-top: 10px; }

body.bg-blue {
  background-color: #8eafe2; }
  body.bg-blue h3 {
    font-weight: 700;
    color: #000;
    margin-top: 20px; }
  body.bg-blue .oddelovac {
    margin-top: 100px; }
  body.bg-blue .menu {
    height: 300px;
    width: 200px;
    border: 3px solid #873775;
    border-radius: 5px;
    background-color: #a57a9c;
    position: relative;
    margin-bottom: 30px; }
    body.bg-blue .menu .fa-list-alt {
      display: block;
      margin: auto;
      font-size: 50px;
      margin-top: 30px; }
    body.bg-blue .menu .fa-bars {
      display: block;
      margin: auto;
      font-size: 50px;
      margin-top: 30px; }
    body.bg-blue .menu .fa-newspaper {
      display: block;
      margin: auto;
      font-size: 50px;
      margin-top: 30px; }
    body.bg-blue .menu .fa-users {
      display: block;
      margin: auto;
      font-size: 50px;
      margin-top: 30px; }
    body.bg-blue .menu .fa-external-link-alt {
      display: block;
      margin: auto;
      font-size: 50px;
      margin-top: 30px; }
    body.bg-blue .menu a {
      display: block;
      text-align: center;
      color: #000;
      vertical-align: bottom;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      margin-bottom: 100px;
      font-size: 18px;
      font-weight: 700; }
      body.bg-blue .menu a:hover {
        text-decoration: none;
        font-weight: 800; }
  body.bg-blue section h3 {
    text-align: center;
    padding-bottom: 30px; }
  body.bg-blue section a.products {
    color: #000;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    padding-bottom: 15px; }
    body.bg-blue section a.products:hover {
      text-decoration: none;
      color: #fff; }
  body.bg-blue section .category {
    border-top: 1px solid #000; }
    body.bg-blue section .category p a.main-category {
      display: inline-block;
      float: left; }
      body.bg-blue section .category p a.main-category a.delete {
        display: inline-block;
        float: right; }
  body.bg-blue section.category h3 {
    text-align: center;
    padding-bottom: 30px; }
  body.bg-blue section.category a.products {
    color: #000;
    font-size: 20px;
    text-align: center;
    display: block;
    padding-top: 20px;
    padding-bottom: 15px; }
    body.bg-blue section.category a.products:hover {
      text-decoration: none;
      color: #fff; }
  body.bg-blue section.category .category-list {
    border-top: 1px solid #000; }
    body.bg-blue section.category .category-list a.main-category {
      display: inline-block;
      float: left;
      color: #000;
      font-size: 25px;
      padding-top: 10px; }
      body.bg-blue section.category .category-list a.main-category:hover {
        text-decoration: none;
        color: #fff; }
    body.bg-blue section.category .category-list a.delete {
      display: inline-block;
      float: right;
      color: #FF0000;
      font-size: 25px;
      padding-top: 10px; }
      body.bg-blue section.category .category-list a.delete:hover {
        text-decoration: none;
        color: #fff; }

section.editor p {
  text-align: center; }
section.editor img.main-img {
  margin: auto;
  width: 250px; }
section.editor .minor-photos {
  margin: 40px 0px; }
  section.editor .minor-photos img.minor-img {
    display: inline-block;
    width: 180px;
    padding: 12px; }
section.editor form input[type=text], section.editor form select {
  margin: auto;
  display: block;
  margin-bottom: 20px;
  width: 500px;
  height: 40px;
  padding-left: 5px;
  border: 1px solid #f6f6f6;
  border-radius: 5px; }
section.editor form textarea {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  width: 500px;
  height: 200px;
  border: 1px solid #f6f6f6;
  padding-left: 5px;
  border-radius: 5px; }
section.editor form input[type=checkbox] {
  margin: auto;
  display: block;
  text-align: center; }
section.editor form span {
  display: block;
  text-align: center; }
section.editor form input[type=submit] {
  margin: auto;
  display: block;
  padding: 10px 30px;
  background-color: #6a6a6a;
  border: 1px solid #6a6a6a;
  border-radius: 5px;
  margin-top: 20px;
  color: #fff; }
  section.editor form input[type=submit]:hover {
    border: 1px solid #ededed; }
section.editor form p {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 10px; }
section.editor form input[type=file] {
  display: block;
  margin: auto;
  margin-bottom: 20px; }

section.show-product h3 {
  padding-bottom: 30px; }
section.show-product p.id {
  color: #6a6a6a;
  margin-bottom: 50px; }
section.show-product img.main-img {
  margin: auto;
  width: 250px; }
section.show-product .minor-photos {
  margin: 40px 0px; }
  section.show-product .minor-photos img.minor-img {
    display: inline-block;
    width: 180px;
    padding: 12px; }
section.show-product p {
  margin: 30px 0px; }
section.show-product a.button {
  padding: 15px 30px;
  color: #fff;
  background-color: #8eafe2;
  border: 1px solid #6a6a6a;
  border-radius: 5px;
  margin-right: 20px; }
  section.show-product a.button:hover {
    background-color: #6a6a6a;
    text-decoration: none; }
section.show-product a.button-red {
  display: inline-block;
  padding: 15px 30px;
  color: #FF0000;
  background-color: #8eafe2;
  border: 1px solid #6a6a6a;
  border-radius: 5px;
  margin-left: 20px;
  margin-bottom: 40px; }
  section.show-product a.button-red:hover {
    background-color: #FF0000;
    color: #fff;
    border: 1px solid #FF0000;
    text-decoration: none; }

/*# sourceMappingURL=style.css.map */
