<body class="bg-blue">
<header>
    <h4>Administrace</h4>
    <ul>
        <li><a class="active" href="produkty">Seznam produktů</a></li>
        <li><a href="newsletter">Emaily - newsletter</a></li>
        <li><a href="pocet-navstev">Počet návštěv</a></li>
    </ul>
</header>
<section class="editor">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3><?= !empty($product) ? "Editovat produkt" : "Přidat produkt" ?></h3>
            </div>
            <div class="col-12">
                <?php
                if (!empty($_SESSION['message'])) {
                    echo('<p>' . $_SESSION['message'] . '<p>');
                }
                ?>
                <form enctype="multipart/form-data" method="post">
                    <input type="hidden" name="id-product" value="<?= !empty($product) ? $product["id"] : "" ?>">
                    <p>Název produktu:</p>
                    <input type="text" name="name-product" placeholder="Název produktu"
                           value="<?= !empty($product) ? $product["name"] : "" ?>">
                    <p>Číslo produktu:</p>
                    <input type="text" name="product-number" placeholder="Číslo produktu"
                           value="<?= !empty($product) ? $product["product_number"] : "" ?>">
                    <p>Krátký popis:</p>
                    <textarea placeholder="Krátký popis"
                              name="short-description-product"><?= !empty($product) ? $product["short_description"] : "" ?></textarea>
                    <p>Popis:</p>
                    <textarea placeholder="Popis"
                              name="description-product"><?= !empty($product) ? $product["description"] : "" ?></textarea>
                    <p>DPH (v %):</p>
                    <input type="text" name="vat" id="price-tax" placeholder="DPH (v %)"
                           value="<?= !empty($product) ? $product["vat"] : "" ?>">
                    <p>Cena s DPH:</p>
                    <input type="text" name="price" id="price" placeholder="Cena s DPH"
                           value="<?= !empty($product) ? round($product["price"] * (($product["vat"] / 100) + 1), 2) : "" ?>">
                    <p>Cena bez DPH:</p>
                    <input type="text" name="price-notax" id="price-notax" placeholder="Cena bez DPH"
                           value="<?= !empty($product) ? $product["price"] : "" ?>">
                    <!-- <p>Hlavní fotka produktu</p>
                    <input type="file" name="image-upload-main">
                    <p>Vedlejší fotky produktu (max. 4)</p>
                    <input type="file" name="image-upload-minor" multiple> -->
                    <p>Kategorie:</p>
                    <select name="category">
                        <option value="">Vyberte kategorii produktu</option>
                        <?php
                        foreach ($categories as $cat) {
                            echo('<option' . ($product["categories_id"] == $cat["id"] ? " selected " : " ") . 'value="' . $cat["id"] . '">' . $cat["name"] . '</option>');
                        }
                        ?>
                    </select>
                    <input type="checkbox" name="sale"<?= !empty($product["action"]) ? " checked" : "" ?>>
                    <span>Akce</span>
                    <input type="checkbox" name="in_stock"<?= !empty($product["in_stock"]) ? " checked" : "" ?>>
                    <span>Skladem</span>
                    <div class="action"<? if (empty($product["action"])): ?> style="display: none;"<?endif?>>
                        <p>Akční cena s DPH:</p>
                        <input type="text" name="action-price" id="price" placeholder="Akční cena s DPH"
                               value="<?= !empty($product["action_price"]) ? round($product["action_price"] * (($product["vat"] / 100) + 1), 2) : "" ?>">
                        <p>Akční cena bez DPH:</p>
                        <input type="text" name="action-price-notax" id="price-notax" placeholder="Akční cena bez DPH"
                               value="<?= !empty($product["action_price"]) ? $product["action_price"] : "" ?>">
                    </div>
                    <h3>Obrázky produktu</h3>
                    <input type="file" name="images[]" multiple>
                    <?php
                    if (!empty($product_main_photo)) {
                        echo('<img class="main-img" src="' . (!empty($product_main_photo) ? $product_main_photo["path"] : "") . '">');
                    }
                    ?>
                    <div class="minor-photos">
                        <?php
                        if (!empty($product_photos)) {
                            foreach ($product_photos as $photo) {
                                echo('<div style="display:inline-block;position:relative;"><img class="minor-img" src="' . $photo["path"] . '"><a style="position:absolute;top:12px;left:12px;padding:0px 5px 5px 5px;background-color:black;color:white;" href="/editor-produktu?id=' . $product["id"] . '&hlFoto=' . $photo['id'] . '">Zvolit hl. fotku</a><a onclick="return confirm(\'Opravdu chcete smazat fotografii?\');" style="position:absolute;top:40px;left:12px;padding:0px 5px 5px 5px;background-color:black;color:red;" href="/editor-produktu?id=' . $product["id"] . '&smazatFotku=' . $photo['id'] . '">SMAZAT</a></div>');
                            }
                        }
                        ?>
                    </div>
                    <input type="submit" value="<?= !empty($product) ? "Editovat produkt" : "Přidat produkt" ?>">
                </form>
            </div>
        </div>
    </div>
</section>
</body>