 <h3>Chyba 404</h3>
 <p>Požadovaná stránka není v databázi</p>

 <style>
     h3 {
         text-align: center;
         margin-top: 30px;
     }
     p {
         text-align: center;
     }
 </style>