<body class="bg-blue">
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Administrace</h3>
        </div>
        <div class="oddelovac"></div>
        <div class="col-4">
            <div class="menu">
                <i class="fas fa-list-alt"></i>
                <a href="produkty">Seznam produktů</a>
            </div>
        </div>
        <div class="col-4">
            <div class="menu">
                <i class="fas fa-newspaper"></i>
                <a href="newsletter">Emaily - newsletter</a>
            </div>
        </div>
        <div class="col-4">
            <div class="menu">
                <i class="fas fa-users"></i>
                <a href="pocet-navstev">Počet návštěv</a>
            </div>
        </div>
        <div class="col-4">
            <div class="menu">
                <i class="fas fa-external-link-alt"></i>
                <a href="?odhlasit">Odhlásit se</a>
            </div>
        </div>
    </div>
</div>