<body class="bg-blue">
<header>
    <h4>Administrace</h4>
    <ul>
        <li><a href="produkty">Seznam produktů</a></li>
        <li><a class="active" href="newsletter">Emaily - newsletter</a></li>
        <li><a href="pocet-navstev">Počet návštěv</a></li>
    </ul>
</header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Emaily - newsletter</h3>
            </div>
            <?php
            $emailhtml = "";
            foreach ($emails as $email) {
                $emailhtml .= "<div class='col-4 text-center'>";
                $emailhtml .= "<p>";
                $emailhtml .= $email['email'];
                $emailhtml .= "</p>";
                $emailhtml .= "</div>";
            }
            echo("$emailhtml");
            ?>
            <div class="col-4 text-center">

            </div>
        </div>
    </div>
</section>
</body>