<body class="bg-blue">
<header>
    <h4>Administrace</h4>
    <ul>
        <li><a href="produkty">Seznam produktů</a></li>
        <li><a href="newsletter">Emaily - newsletter</a></li>
        <li><a class="active" href="pocet-navstev">Počet návštěv</a></li>
    </ul>
</header>
<section class="category">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Počet návštěv</h3>
            </div>
            <?php
            foreach ($categories as $cat) {
                ?>
                <div class="col-12 text-center">
                    <h4><?=$cat["name"]?></h4>
                    <p>za poslední den: <strong><?= $categoriesModel->getVisitorStatistics($cat["id"], 1) ?></strong></p>
                    <p>za poslední týden: <strong><?=$categoriesModel->getVisitorStatistics($cat["id"], 7) ?></strong></p>
                    <p>za poslední měsíc: <strong><?=$categoriesModel->getVisitorStatistics($cat["id"], 30) ?></strong></p>
                </div>
                <?php
            }
            ?>
        </div>
    </div>
</section>
</body>