<section class="login">
    <form method="post" id="login_user">
        <h3>Přihlášení do administrace</h3>
        <br />
        <?php
            if (!empty($_SESSION['message']))
            {
                echo('<p>' . $_SESSION['message'] . '<p>');
            }
        ?>
        <br />
        <p>Přihlašovací jméno</p>
        <input type="text" name="username">
        <p>Heslo</p>
        <input type="password" name="password">
        <input type="submit" value="Přihlásit se">
    </form>
</section>