<body class="bg-blue">
<header>
    <h4>Administrace</h4>
    <ul>
        <li><a class="active" href="produkty">Seznam produktů</a></li>
        <li><a href="newsletter">Emaily - newsletter</a></li>
        <li><a href="pocet-navstev">Počet návštěv</a></li>
        <li class="add-product"><a href="editor-produktu">Přidat produkt</a></li>
    </ul>
</header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Seznam produktů</h3>
            </div>
            <div class="col-12">
                <?php
                foreach ($products as $product) {
                    echo('<a class="products" href="editor-produktu?id=' . htmlspecialchars($product['id']) . '">
                    ' . htmlspecialchars($product['name']) . '</a><a style="color:red;" onclick="return confirm(\'Opravdu si přejete smatat tento produkt?\')" href="produkty?id=' . htmlspecialchars($product['id']) . '&smazat">
                    (smazat)</a><br>');
                }
                ?>
            </div>
        </div>
    </div>
</section>
</body>