<body class="bg-blue">
<header>
    <h4>Administrace</h4>
    <ul>
        <li><a class="active" href="produkty">Seznam produktů</a></li>
        <li><a href="newsletter">Emaily - newsletter</a></li>
        <li><a href="pocet-navstev">Počet návštěv</a></li>
    </ul>
</header>
<section class="show-product">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3><?= $name ?></h3>
                <p class="id">ID produktu : <?= $id ?></p>
            </div>
            <div class="col-12 text-center">
                <img class="main-img" src="<?= !empty($product_main_photo) ? $product_main_photo["path"] : "" ?>">
                <div class="minor-photos">
                    <?php
                    if (!empty($product_photos)) {
                        foreach ($product_photos as $photo) {
                            echo('<img class="minor-img" src="' . $photo["path"] . '">');
                        }
                    }
                    ?>
                </div>
                <p>Popis: <?= $description ?></p>
                <p>Kategorie produktu: <?= $product_category ?></p>
                <p>DPH: <?= round($vat) ?>%</p>
                <p>Cena bez dph: <?= round($price, 2) ?> Kč</p>
                <p>Cena s DPH: <?= round($price * (($vat / 100) + 1), 2) ?> Kč</p>
                <p>Akce: <?= $action ? "ANO" : "NE" ?></p>
                <a class="button" href="/editor-produktu?id=<?= $id ?>">Editovat</a>
                <?php echo('<a class="button-red" href="vypis-produkt?odstranit=' . $id . '">Odstranit</a>'); ?>
            </div>
        </div>
    </div>
</section>
</body>